table {
    width: 100%;

    tr:nth-child(even){
        background: #f5f0f0;
    }
    td, th{
        border-right: 1px solid gray;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

    .btn-holder{
        width: 80px;
    }

    .likes-block{
        display: inline-block;
        width: 30px;
        text-align: center;
    }
}


mat-paginator, .mat-header-row{
    background: #c3bebe !important;
}

.waiting{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: medium;
    
}